h1 
{ 
    color: goldenrod;
}
p 
{ 
    color: aqua;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
}
/* this a comment in css */ 
body 
{
  background-color: blueviolet;
}
img {

    width: 500px;
}